body{
  font-family: sans-serif;
  background-color: lightgrey;
}

h1{
  color:crimson;
  font-size: 60px;
  text-align: center;
}

.home-nav{
  border:solid 1px black;
  margin: 0 auto 0 auto;
}
.home-nav a{
  color:darkred;
  text-decoration: none;
  font-weight: bold;
  padding:5px;
  font-size: 24px;
}

.page-nav{
  border:solid 1px black;
  margin: 0 auto 0 auto;
}
.page-nav a{
  font-weight:bold;
  color:darkred;
  text-decoration: none;
  padding: 5px;
}

#accom-table{
  width: 100%;
  padding:15px;
}

#accom-table td{
  border:solid 1px black;
  padding: 10px;
}

#dungeon-img {
  height: 60%;
}

.accom-img{
  text-align: center;
}

#photo-table {
  width: 100%;
  height: auto;
}

#photo-table img {
  width: 60%;
}
